.navbar-brand{
    background-color: white;

}
body{
    background-color: rgb(247, 236, 233) !important;
}

.navbar {
    background-color: white !important;
  }


.carousel-inner img {
    width: 100%;       
    height: 70vh;       
    object-fit: cover; 
}

image{
    margin: 0 auto;
}

.mb-4{
    margin-top: -2px;
}
footer{
    padding-top: 50px;
    background-color: rgb(247, 236, 233);
}
